.location-group-details-locations {
    display: flex;
    flex-direction: column;
}

.location-details-single-location {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    cursor: pointer;
}

.location-details-single-location:hover {
    color: var(--primary-sidebar-color-highlight);
}

.location-details-single-location__highlight {
    color: var(--primary-sidebar-color-highlight);
}

.location-group-list-container {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

.location-group-list-search {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.thrall-location-list-search input {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 16px;
}